{% extends '/layout.html.twig' %}

{% block page_title %}myCLAP - Page non trouvée...{% endblock %}

{% block content %}
    <div class="layout fullwidth fullheight" style="margin-top: 10%">
        <div class="fullwidth p-20">
            <div class="br-5 overlay fullwidth max-w-500 ms-auto text-center p-20">
                <p class="mt-0">
                    <i class="fad fa-question fa-7x"></i>
                </p>
                <p style="font-size: 1.2em" class="max-w-300 ms-auto">Oups... Aucune page ne correspond à votre requête.</p>
            </div>
        </div>
    </div>
{% endblock %}