{% spaceless %}
    <div class="video" data-token="{{ video.token }}">
        <div>
            <div>
                <div class="thumbnail fulgur-background_loading" data-url="{{ route_url('watch-media-thumbnail', video.token, 360) }}">
                    <div></div>
                </div>
            </div>
            <div class="info">
                <h2><small class="text-muted ms-5">#<span class="video-index"></span></small> {{ video.name }}</h2>
                <p>{{ video.views|views_label ~ " • " ~ video.created_on|since_label }}</p>

                <div class="actions">
                    <a class="up" title="Remonter">
                        <i class="fas fa-arrow-up"></i>
                    </a>
                    <a class="down" title="Descendre">
                        <i class="fas fa-arrow-down"></i>
                    </a>
                    <a class="delete" title="Retirer">
                        <i class="fas fa-times"></i>
                    </a>
                    {#<a class="add" title="Ajouter en dessous">
                        <i class="fas fa-plus"></i>
                    </a>#}
                </div>

            </div>
        </div>
    </div>
{% endspaceless %}