{% set flashes = app.flashes('info') %}
{% if flashes %}
    <div class="alert alert-info">
        {% if flashes|length > 1 %}
            <ul>
                {% for flash in flashes %}
                    <li>{{ flash.message }}</li>
                {% endfor %}
            </ul>
        {% else %}
            <p>{{ flashes[0].message|nl2br }}</p>
        {% endif %}
    </div>
{% endif %}